/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(22, 151, 145);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

label {
    display: block;
    margin: 20px 0 5px;
    font-weight: bold;
}

.container-form{
    width : 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column ;
    align-items: center;
    height: 25vh;
    margin-bottom: 60px;

}

.container-form span{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
select{
    width: 500px;
    padding: 8px;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-align: center;
    background-color:rgb(47, 47, 94);
    width: 300px;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
    transition: transform 0.05s ease-in-out;
}

a:hover{
    background-color: rgb(19, 131, 125);
    outline: none;
    transform: scale(1.1);
}

/* Fond animé */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 0.5vmin;
    height: 0.5vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: darkblue;
    top: 88%;
    left: 27%;
    animation-duration: 51s;
    animation-delay: -5s;
    transform-origin: 14vw -11vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(1) {
    color: darkblue;
    top: 21%;
    left: 6%;
    animation-duration: 18s;
    animation-delay: -24s;
    transform-origin: 16vw 7vh;
    box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(2) {
    color: darkblue;
    top: 46%;
    left: 65%;
    animation-duration: 14s;
    animation-delay: -34s;
    transform-origin: -23vw 12vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(3) {
    color: darkblue;
    top: 61%;
    left: 29%;
    animation-duration: 27s;
    animation-delay: -45s;
    transform-origin: -9vw -18vh;
    box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(4) {
    color: darkblue;
    top: 25%;
    left: 43%;
    animation-duration: 39s;
    animation-delay: -22s;
    transform-origin: 18vw 20vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(5) {
    color: darkblue;
    top: 11%;
    left: 8%;
    animation-duration: 42s;
    animation-delay: -36s;
    transform-origin: 18vw 13vh;
    box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(6) {
    color: darkblue;
    top: 46%;
    left: 84%;
    animation-duration: 21s;
    animation-delay: -3s;
    transform-origin: -2vw 5vh;
    box-shadow: -2vmin 0 0.37446353461265824vmin currentColor;
}
.background span:nth-child(7) {
    color: darkblue;
    top: 67%;
    left: 29%;
    animation-duration: 32s;
    animation-delay: -1s;
    transform-origin: -16vw -15vh;
    box-shadow: -2vmin 0 0.3881346957760584vmin currentColor;
}
.background span:nth-child(8) {
    color: darkblue;
    top: 96%;
    left: 71%;
    animation-duration: 26s;
    animation-delay: -32s;
    transform-origin: -6vw 5vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(9) {
    color: darkblue;
    top: 84%;
    left: 62%;
    animation-duration: 34s;
    animation-delay: -5s;
    transform-origin: -19vw -24vh;
    box-shadow: -2vmin 0 0.6vmin currentColor;
}
.background span:nth-child(10) {
    color: darkblue;
    top: 48%;
    left: 43%;
    animation-duration: 52s;
    animation-delay: -7s;
    transform-origin: -15vw 6vh;
    box-shadow: 2vmin 0 0.5vmin currentColor;
}
.background span:nth-child(11) {
    color: darkblue;
    top: 82%;
    left: 7%;
    animation-duration: 31s;
    animation-delay: -25s;
    transform-origin: 13vw -8vh;
    box-shadow: -2vmin 0 0.29201241475257267vmin currentColor;
}
.background span:nth-child(12) {
    color: darkblue;
    top: 67%;
    left: 69%;
    animation-duration: 10s;
    animation-delay: -17s;
    transform-origin: -19vw 9vh;
    box-shadow: -2vmin 0 0.5 currentColor;
}
.background span:nth-child(13) {
    color: darkblue;
    top: 46%;
    left: 70%;
    animation-duration: 22s;
    animation-delay: -3s;
    transform-origin: 11vw 18vh;
    box-shadow: -2vmin 0 0.4661946379137405vmin currentColor;
}
.background span:nth-child(14) {
    color: darkblue;
    top: 20%;
    left: 19%;
    animation-duration: 11s;
    animation-delay: -14s;
    transform-origin: 6vw 19vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(15) {
    color: darkblue;
    top: 44%;
    left: 32%;
    animation-duration: 22s;
    animation-delay: -27s;
    transform-origin: -19vw 12vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(16) {
    color: darkblue;
    top: 87%;
    left: 44%;
    animation-duration: 28s;
    animation-delay: -5s;
    transform-origin: 0vw -12vh;
    box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(17) {
    color: darkblue;
    top: 89%;
    left: 47%;
    animation-duration: 19s;
    animation-delay: -27s;
    transform-origin: 11vw -21vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(18) {
    color: darkblue;
    top: 16%;
    left: 61%;
    animation-duration: 47s;
    animation-delay: -30s;
    transform-origin: 20vw 15vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(19) {
    color: darkblue;
    top: 36%;
    left: 49%;
    animation-duration: 10s;
    animation-delay: -49s;
    transform-origin: -15vw -15vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(20) {
    color: darkblue;
    top: 43%;
    left: 93%;
    animation-duration: 37s;
    animation-delay: -43s;
    transform-origin: -16vw 9vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(21) {
    color: darkblue;
    top: 66%;
    left: 12%;
    animation-duration: 25s;
    animation-delay: -28s;
    transform-origin: -22vw -11vh;
    box-shadow: -2vmin 0 0.366535246953955vmin currentColor;
}
.background span:nth-child(22) {
    color: darkblue;
    top: 74%;
    left: 91%;
    animation-duration: 48s;
    animation-delay: -13s;
    transform-origin: 22vw 7vh;
    box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(23) {
    color: darkblue;
    top: 84%;
    left: 61%;
    animation-duration: 24s;
    animation-delay: -35s;
    transform-origin: -10vw 14vh;
    box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(24) {
    color: darkblue;
    top: 75%;
    left: 81%;
    animation-duration: 13s;
    animation-delay: -19s;
    transform-origin: -17vw 22vh;
    box-shadow: -2vmin 0 0.3346853858754931vmin currentColor;
}

/* Footer Styles */
footer {
    background-color: rgb(17, 120, 114);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 1em;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    header h1 {
        font-size: 1.8em;
    }

    .container {
        padding: 15px;
        margin-bottom: 100px;
    }

    /* Additional styles for tablet */
    label {
        font-size: 1.2em;
    }

    select {
        font-size: 1.2em;
        padding: 10px;
    }

    a {
        font-size: 1.2em;
        width: 250px;
        padding: 12px;
    }
}

@media (max-width: 992px) {
    header h1 {
        font-size: 1.6em;
    }

    .container-form {
        height: auto;
        margin-bottom: 100px;
    }

    a {
        max-width: 350px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.4em;
    }

    .container-form span, select {
        width: 100%;
        max-width: 400px;
    }

    a {
        max-width: 350px;
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    header h1 {
        font-size: 1.2em;
    }

    .container-form span, select {
        max-width: 300px;
    }

    a {
        max-width: 200px;
        margin-bottom: 30px;
    }

    .container {
        padding: 10px;
        margin-bottom: 40px;
    }
}

