body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(22, 151, 145);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

label {
    display: block;
    margin: 20px 0 5px;
    font-weight: bold;
}

.container-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    margin-bottom: 60px;
}

.container-form .input-group {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginButton {
    text-align: center;
    background-color: rgb(19, 131, 125);
    border: #333;
    width: 300px;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
}

#loginButton:hover {
    background-color: rgb(47, 47, 94);
    outline: none;
    cursor: pointer;
}


input {
    height: 30px;
}

/* Footer Styles */
footer {
    background-color: rgb(17, 120, 114);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 1em;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    header h1 {
        font-size: 1.8em;
    }

    .container {
        padding: 15px;
    }
}

@media (max-width: 992px) {
    header h1 {
        font-size: 1.6em;
    }

    .container-form {
        height: auto;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.4em;
    }

    .container-form .input-group {
        width: 100%;
        max-width: 400px;
    }

    #loginButton {
        max-width: 250px;
    }
}

@media (max-width: 576px) {
    header h1 {
        font-size: 1.2em;
    }

    .container-form .input-group {
        width: 100%;
        max-width: 300px;
    }

    #loginButton {
        max-width: 200px;
    }

    .container {
        padding: 10px;
    }
}

/* Specific adjustments for phones */
@media (max-width: 480px) {
    header h1 {
        font-size: 1em;
    }

    .container-form .input-group {
        width: 100%;
        max-width: 250px;
    }

    #loginButton {
        max-width: 150px;
    }

    .container {
        padding: 5px;
    }
}
